<footer>
    <div class="wrapper-bg footer-container">
        <a tabindex="0" aria-label="Acadia logo link" href="#" class="logo" title="Acadia logo">ACADIA</a>
        <div class="footer-social-icons">
            <a tabindex="0" href="#" aria-label="Link for x previously twitter" title="X link"><i class="fa-brands fa-x-twitter"></i></a>
            <a tabindex="0" href="#" aria-label="Link for Facebook" title="Facebook link"><i class="fa-brands fa-facebook-f"></i></a>
            <a tabindex="0" href="#" aria-label="Link for Instagram" title="Instagram link"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="footer-nav">
            <ul>
                <li>
                    <span>&copy; 2024 ACADIA</span>
                </li>
                <li>
                    <a tabindex="0" href="#" aria-label="Blog">BLOG</a>
                </li>
                <li>
                    <a tabindex="0" href="#" aria-label="Shop">SHOP</a>
                </li>
                <li>
                    <a tabindex="0" href="#" aria-label="Portfolio">PORTFOLIO</a>
                </li>
                <li>
                    <a tabindex="0" href="#" aria-label="About">ABOUT</a>
                </li>
                <li>
                    <a tabindex="0" href="#" aria-label="Contact">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<style>
    footer{
        padding: 2rem 0;
        border-top: 1px solid #000;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-container .logo{
        font-weight: 800;
        letter-spacing: 4.5px;
        background-color: #e5e5e5;
        padding: 5px 10px;
        border: 1px solid #000;
        margin-right: 3.5rem;
    }
    .footer-container .logo{
        margin-right: 0;
    }
    .footer-social-icons{
        display: flex;
        justify-content: center;
        gap: 1rem 3rem;
        margin-top: 1.5rem;
    }
    .footer-social-icons a i{
        font-size: 1.125rem;
    }
    .footer-nav{
        margin-top: 1.5rem;
    }
    .footer-nav ul li{
        display: inline-block;
        margin-right: 1rem;
    }
    .footer-nav ul li a,
    .footer-nav ul li span{
        font-size: 0.8rem;
        font-weight: 600;
        letter-spacing: 0.5px;
    }
</style>